#title {
  text-align: center;
  font-size: 2.5rem;
  margin: 1rem 0;
}

.flower-collection {
  display: flex;
  flex-direction: row;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  justify-content: center;
  padding: 0.5rem;
}

.flower-img-wrapper {
  position: relative;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: -1px;
}

.flower-img {
  width: 100%;
  height: 800px;
  object-fit: cover;
  border: 2px solid black;
}

.main {
  display: block;
  transition: opacity 0.5s;
}

.sub {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}

.flower-img-wrapper:hover .flower-img.sub {
  opacity: 1;
}

