:root {
  --background-color: #f8f8f6;
  --secondary-background-color: #f0efeb;
  --primary-font-color: #6b705c;
  --primary-accent-color: #dbd0bd;
}

@font-face {
  font-family: "Rochester";
  src: url("/font/Rochester/Rochester-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Tenor Sans";
  src: url("/font/Tenor_Sans/TenorSans-Regular.ttf") format("truetype");
  font-display: swap;
}

.tenor-sans {
  font: 20px "Tenor Sans";
  color: var(--primary-font-color);
  letter-spacing: -0.05em;
}

body {
  color: var(--primary-font-color);
  margin: 0;
  overflow-y: hidden;
  background-color: var(--background-color);
}

.button {
  display: flex;
  flex-direction: column;
  height: 1.2em;
  overflow-y: hidden;
}

.root {
  padding: 5vh 8rem;
  height: 90vh;
  overflow-y: hidden;
}

.banner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-header {
  display: flex;
  position: absolute;
  flex-direction: row;
  height: 5vh;
  top: 3vh;
  left: 8rem;
  gap: 4rem;
  align-items: last baseline;
  margin-bottom: 5vh;
}

#home-btn {
  font: 40px "Rochester";
}

.btn-text {
  transition: transform 0.2s ease;
}

#top-banner {
  height: 50vh;
  background-color: var(--secondary-background-color);
}

.banner-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.banner-btn {
  background-color: var(--primary-accent-color);
  border: 1px solid transparent;
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
  padding: 0.5em 1em;
  margin-top: 5vh;
  transition: all 0.2s ease;
  cursor: pointer;
}

.banner-btn:hover {
  border: 1px solid var(--primary-font-color);
  box-shadow: 0 0 5px 1px var(--primary-accent-color);
}

.banner-desc {
  text-wrap: balance;
  width: 40vw;
}

.banner-title {
  font-size: 36px;
}

#bottom-banner {
  height: 30vh;
}

#bottom-banner-content {
  align-items: flex-end;
  text-align: right;
}

.page-title {
  font: 128px "Rochester";
  position: absolute;
  height: 1em;
  bottom: 0;
}

#gallery-content {
  height: 70vh;
}

.flower-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 450px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.flower-main-img {
  z-index: 2;
}

.flower-container {
  position: relative;
  width: 100%;
  height: 450px;
}

.flower-label {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  height: fit-content;
  align-self: flex-end;
  font-size: 1em;
  width: 100%;
  padding: 0.5em 0.5em;
}

#gallery-photos {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: 350px;
}

#commission-container {
  display: flex;
  flex-direction: column;
  gap: 4em;
  height: 60vh;
  margin-top: 10vh;
  justify-content: space-between;
}

#commission-text {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 60vw;
  text-wrap: pretty;
}

#commission-form {
  display: block;
  gap: 2rem;
  height: fit-content;
  background: var(--background-color);
}

.form-input {
  height: 2rem;
  padding: 0 0.7em;
  font-size: 0.7em;
  border: 2px solid var(--primary-font-color);
  background-color: var(--primary-background-color);
  color: var(--primary-font-color);
  border-radius: 8px;
}

.form-input:focus {
  box-shadow: 0 0 4px 2px var(--primary-accent-color);
  outline: none;
}

.form-textarea {
  padding: 0.5em 0.7em;
  height: 6rem;
}

.commission-form-section {
  display: none;
  transition: all 0.25s ease-in-out;
}

.commission-form-section.active {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.commission-form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#commission-form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.form-btn {
  margin: 0;
}

#submit-btn {
  display: none;
}

.lucide-dot {
  transform: scale(2);
  opacity: 0.4;
  transition: all 0.25s ease-in-out;
}

.lucide-dot.active {
  opacity: 1;
}
